<h1>Project</h1>

<p>
  <b>Title</b><br>
  {{project.title}}
</p>

<div class="form-actions">
  <a href="/projects/{{project.id}}/edit"
    class="btn btn-primary"><i class="icon-edit"></i>
    Edit Project
  </a>
  <button ng-click="destroy()" class="btn btn-danger">
    <i class="icon-trash"></i> Delete
  </button>
  <a href="/projects" class="btn">
    Back to projects
  </a>
</div>

